
@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}



header {
  background-color: #000;
  height: 70px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #ffffff;
  line-height: 70px;
}

.header-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 14px;
}

.header-nav a {
  color: #ffffff;
  text-decoration: none;
}

#eyecatch {
  height: 800px;
  background: url(../img//eyecatch.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch h1 {
  position: absolute;
  top: 65%;
  left: 25%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  font-size: 55px;
  font-weight: bold;
}

.news {
  float: right;
  height: 60px;
  display: flex;
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.news-left {
  color: #000000;
  background-color: #ffffff;
  width: 550px;
  padding-top: 5px;
  padding-left: 5px;
}

.news-title {
  padding-top: 7px;
  padding-left: 10px;
}

.news-right {
  background-color: #000000;
  color: #ffffff;
  width: 200px;
  text-align: center;
  padding: 20px 0;
}

#about {
  height: 800px;
  background: linear-gradient(180deg, black 0% 600px, white 200px, white 100%);
  color: #ffffff;
  position: relative;
  z-index: 0;
}

#about h2,
#about p,
.button {
  margin-left: 300px;
}

#about h2 {
  font-size: 25px;
  padding-top: 200px;
}

#about p {
  width: 900px;
  font-size: 15px;
  line-height: 25px;
  padding-top: 35px;
  position: relative;
  z-index: 1;
}

.about-img {
  position: absolute;
  width: 765px;
  height: 500px;
  margin-left: 850px;
  z-index: -1;
  margin-bottom: 600px;
  top: 150px;
}

.button {
  margin-top: 30px;
  padding: 7px 25px;
}

#service {
  height: 1250px;
  background-color: rgb(221, 220, 220);
  z-index: 0;
  position: relative;
}

#service h1 {
  padding-top: 20px;
}

.service-top {
  background-color: #ffffff;
  width: 600px;
  height: 300px;
  text-align: left;
  left: 350px;
  top: 100px;
  position: relative;
}

.service-top h6 {
  position: relative;
  z-index: 1;
  font-size: 15px;
  padding-top: 60px;
  padding-left: 70px;
}

.service-top p {
  position: relative;
  z-index: 1;
  font-size: 14px;
  padding-top: 20px;
  padding-right: 70px;
  padding-left: 70px;
  line-height: 20px;
}

.service-top-img {
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 500px;
  top: 60px;
  right: 0;
}

.service-button {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px 15px;
  right: 0;
  position: relative;
  float: right;
  margin: 10px 75px;
}

.service-bottom {
  background-color: #ffffff;
  width: 600px;
  height: 300px;
  text-align: left;
  left: 700px;
  top: 450px;
  position: relative;
}

.service-bottom h6 {
  position: relative;
  z-index: 1;
  font-size: 15px;
  padding-top: 60px;
  padding-left: 70px;
}

.service-bottom p {
  position: relative;
  z-index: 1;
  font-size: 14px;
  padding-top: 20px;
  padding-right: 70px;
  padding-left: 70px;
  line-height: 20px;
}

.service-bottom-img {
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 450px;
  top: 700px;
  left: 0;
}

#info {
  height: 700px;
}

.company {
  color: #ffffff;
  background: url(../img/company.jpeg);
  background-position: left;
  background-size: cover;
  width: 45%;
  height: 200px;
  float: left;
  top: 100px;
  position: relative;
  text-align: center;
}

.recruit {
  color: #ffffff;
  background: url(../img/recruit.jpg);
  background-position: right;
  background-size: cover;
  width: 45%;
  height: 200px;
  float: right;
  top: 100px;
  position: relative;
  text-align: center;
}
 
.company h2,
.recruit h2 {
  padding-top: 70px;
  font-size: 25px;
}

.company p,
.recruit p {
  padding-top: 15px;
  font-size: 13px;
}

.faq {
  background-color: #000000;
  color: #ffffff;
  position: relative;
  top: 450px;
  width: 75%;
  height: 100px;
  margin-left: 200px;
}

.faq h2 {
  font-size: 25px;
  padding-left: 25px;
  padding-top: 25px;
  position: absolute;
  text-align: left;
  line-height: 50px;
}

.faq p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
  line-height: 20px;
  position: relative;
}

#contact {
  color: #ffffff;
  text-align: center;
  background-image: url(../img/contact-bg.jpg);
  background-size: contain;
  height: 500px;
  width: 100%;
}

.contact h1 {
  font-weight: bold;
  font-size: 25px;
  padding-top: 120px;
}

.contact p {
  font-size: 13px;
  font-weight: bold;
  padding-top: 15px;
}

.contact-info h2 {
  font-size: 30px;
  font-weight: lighter;
  padding-top: 25px;
}

.contact-info p {
  font-size: 5px;
  padding-top: 25px;
}

.button-contact {
  background-color: transparent;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  font-size: 13px;
  font-weight: lighter;
  padding: 3px 20px;
  margin-top: 25px;
}

#footer {
  background-color: black;
  height: 100px;
  color: white;
}

.footer-logo {
  margin-top: 20px;
  margin-left: 85px;
}

.footer-nav li {
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  margin-right: 35px;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
}

.footer-info {
  font-size: 10px;
  text-align: center;
  margin-top: 40px;
}

@media screen and (max-width: 375px) {

  #hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100px;
    top: 15px;
    right: 20px;
    transition: 0.4s;
  }

  #hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    transition: 0.8s;
  }

  #hamburger span:nth-of-type(1) {
    top: 10px;
  }
  #hamburger span:nth-of-type(2) {
    top: 20px;
  }
  #hamburger span:nth-of-type(3) {
    top: 30px;
  }

  .header-nav {
    display: none;
  }

  #eyecatch h1 {
    display: block;
    margin-left: 30%;
    width: 80%;
    position: relative;
  }

  .news-left {
    display: block;
    width: 80%;
    height: auto;
  }

  #about h2 {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
  }

  #about p {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .about-img {
    position: static;
    width: 60%;
    height: auto;
    margin-left: 35%;
    margin-top: 10%;
    z-index: -1;
  }

  #service {
    display: block;
  }

  .service-top-img {
    width: 80%;
    margin-right: 10%;
    margin-top: 10px;
    height: auto;
    z-index: -1;
  }
  .service-top {
    left: 10%;
    width: 80%;
    height: 270px;
    margin-top: 100px;
  }

  .service-top h6 {
    width: 90%;
    padding-top: 10%;
  }

  .service-top p {
    width: 70%;
    padding-left: 15%;
  }

  .service-bottom-img {
    width: 80%;
    left: 10%;
    top: 600px;
    height: auto;
    z-index: -1;
  }

  .service-bottom {
    left: 10%;
    width: 80%;
    height: 270px;
    top: 350px;
  }

  .service-bottom h6 {
    width: 90%;
    padding-top: 10%;
  }

  .service-bottom p {
    width: 70%;
    padding-left: 15%;
  }

  #info {
    display: block;
  }

  .company,
  .recruit {
    width: 100%;
  }

  .faq {
    width: 100%;
    margin-left: 0;
    top: 550px;
  }

  .faq p {
    position: absolute;
    padding-left: 40%;
    padding-top: 10%;
  }

  #contact {
    display: block;
    width: 100%;
  }

  .contact-info {
    width: 80%;
    margin-left: 10%;
  }

  .contact-info p {
    line-height: 20px;
    width: 70%;
    margin-left: 15%;
    font-size: 7px;
  }

  .footer-logo {
    margin-left: 39%;
  }

  .footer-nav {
    display: none;
  }
}